*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nxt-btn{
    display: none;
}

.correct, .active{
    background-color: greenyellow;
}

.incorrect{
    background-color: red;
}

.score-board{
    display: none;
}